<!DOCTYPE html>
<html lang="en" ng-app="myApp" ng-controller="myCtrl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student-Cgpa-Calculation</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>

<body>
    <!-- ng-submit is same as click but it works even for the enter in the kb!! -->
    <form ng-submit="generateStudentDetails()">
        <h1>Student Details</h1>
        <label for="stu">Enter The Number Of Students : </label>
        <input type="text" id="stu" placeholder="0" ng-model="numberOfStu">
        <button>Generate Details</button>
    </form>
    <div ng-if="students.length > 0">
        <p>Total students {{students.length}}</p>
        <!-- ng-repeat works as a for loop!! -->
        <div ng-repeat="s in students">
            <h3>student {{$index+1}}</h3>
            <label for="name">Name:</label>
            <input type="text" id="name" ng-model="s.name">
            <label for="cgpa">cgpa:</label>
            <input type="text" id="cgpa" ng-model="s.cgpa">
        </div>
    </div>


    <script>
        angular.module("myApp", []).controller("myCtrl", function ($scope) {
            $scope.generateStudentDetails = function () {
                $scope.students = defaultStudentDetails($scope.numberOfStu);
            }

            function defaultStudentDetails(n) {
                var student = [];
                for (let i = 0; i < n; i++) {
                    student.push({
                        name: 'student' + (i + 1),
                        cgpa: getRandomCgpa()
                    })
                }
                return student;
            }
            function getRandomCgpa() {
                // tofixed is use to fix  the number after the point !!
                return (Math.random() * 10).toFixed(2);
            }
        })        
    </script>
</body>

</html>