<!DOCTYPE html>
<html lang="en" ng-app="myApp" ng-controller="myCtrl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User-Managemnet</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"> </script>
</head>

<body>
    <h1>User Management</h1>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>E-mail</th>
            <th>Action</th>
        </tr>
        <tr ng-repeat="u in users">
            <td>{{u.id}}</td>
            <td>{{u.name}}</td>
            <td>{{u.email}}</td>
            <td> <button ng-click="editUser(u)">Edit</button>
                <button ng-click="deleteUser(u.id)">Delete</button>
            </td>
        </tr>
    </table>
    <h3>{{editing?"editUser" : "Add-New-User" }}</h3>
    <form ng-submit="saveUser()">
        <label for="name">Name:</label>
        <input type="text" id="name" ng-model="currentUser.name">
        <label for="email">E-mail:</label>
        <input type="text" id="email" ng-model="currentUser.email">
        <button type="submit">{{editing? "update" : "add"}}</button>
        <button ng-click="cancleEdit()" ng-show="editing">Cancle</button>
    </form>




    <script>
        angular.module("myApp", []).controller("myCtrl", function ($scope) {
            $scope.users = [{ id: 1, name: "Jhone Doe", email: "john@123.com" }
                , { id: 2, name: "Garry", email: "garry@222.com" }];

            $scope.editing = false;
            $scope.currentUser = {};
            $scope.editUser = function (user) {
                $scope.editing = true;
                $scope.currentUser = angular.copy(user);

            }

            $scope.saveUser = function () {
                if ($scope.editing) {
                    var index = $scope.users.findIndex(u => u.id == $scope.currentUser.id);
                    if (index != -1) {
                        $scope.users[index] = angular.copy($scope.currentUser)
                    }
                }


                else {
                    $scope.currentUser.id = $scope.users.length + 1;
                    $scope.users.push(angular.copy($scope.currentUser))
                }

                $scope.currentUser = {};
                $scope.editing = false;
            }

            $scope.deleteUser = function (userId) {
                $scope.users = $scope.users.filter(user => user.id != userId);
            }

            $scope.cancleEdit = function () {
                $scope.currentUser = {};
                $scope.editing = false;
            };




        });
    </script>
</body>

</html>